@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    text-align: center;
    
}

h1, h2, h3, h4 {
    font-weight: 900;
}
h1 {
    font-size: 197px;
    background-color: white;
    
}

h2 {
    font-size: 218px;
    color: white;
}

h3 {
    background-color: white;
    font-size: 48px;
}

span, p {
    font-weight: 600;
}

strong {
    font-size: 60px;
}

p {
    font-size: 59px;
    color: white;
}

h4 {
    font-weight: 900;
    color: white;
    font-size: 67px;
}